@model IEnumerable<Express_Voitures.ViewModels.VoitureViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Ajouter une nouvelle voiture</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeVin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBrandModal">
                <i class="bi bi-plus"></i>
            </button>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modele)
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModeleModal">
                <i class="bi bi-plus"></i>
            </button>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finition)
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFinitionModal">
                <i class="bi bi-plus"></i>
            </button>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAchat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixAchat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoutReparations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixVente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDisponibilite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateVente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reparations)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeVin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchat) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutReparations) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixVente) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDisponibilite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reparations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<!-- Modale pour ajouter une marque -->
<div class="modal fade" id="addBrandModal" tabindex="-1" role="dialog" aria-labelledby="addBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBrandModalLabel">Ajouter une marque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addBrandForm" method="post" asp-controller="Marque" asp-action="Create">
                    <div class="form-group">
                        <label for="brandName" class="col-form-label">Nom de la marque:</label>
                        <input type="text" class="form-control" id="brandName" name="Nom">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" form="addBrandForm" class="btn btn-primary" id="addBrandButton">Ajouter</button>
            </div>
        </div>
    </div>
</div>

<!-- Modale pour ajouter un modèle -->
<div class="modal fade" id="addModeleModal" tabindex="-1" role="dialog" aria-labelledby="addModeleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModeleModalLabel">Ajouter un modèle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addModeleForm" method="post" asp-controller="Modele" asp-action="Create">
                    <div class="form-group">
                        <label for="marqueSelectModal" class="col-form-label">Marque:</label>
                        <select id="marqueSelectModal" name="MarqueId" class="form-control">
                            @if (ViewBag.Marques != null && ((SelectList)ViewBag.Marques).Any())
                            {
                                <option selected hidden value="">Sélectionnez une marque...</option>
                                @foreach (var marque in ViewBag.Marques)
                                {
                                    <option value="@marque.Value">@marque.Text</option>
                                }
                            }
                            else
                            {
                                <option>Pas de marques enregistrées</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modeleName" class="col-form-label">Nom du modèle:</label>
                        <input type="text" class="form-control" id="modeleName" name="Nom">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" form="addModeleForm" class="btn btn-primary" id="addModeleButton">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<!-- Modale pour ajouter une finition -->
<div class="modal fade" id="addFinitionModal" tabindex="-1" role="dialog" aria-labelledby="addFinitionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFinitionModalLabel">Ajouter une finition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addFinitionForm" method="post" asp-controller="Finition" asp-action="Create">
                    <div class="form-group">
                        <label for="modeleId" class="col-form-label">Modèle:</label>
                        <select id="modeleId" name="ModeleId" class="form-control">
                            @if (ViewBag.Modeles != null && ((SelectList)ViewBag.Modeles).Any())
                            {
                                <option selected hidden value="">Sélectionnez un modèle...</option>
                                @foreach (var modele in ViewBag.Modeles)
                                {
                                    <option value="@modele.Value">@modele.Text</option>
                                }
                            }
                            else
                            {
                                <option>Pas de modèles enregistrés</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="finitionName" class="col-form-label">Nom de la finition:</label>
                        <input type="text" class="form-control" id="finitionName" name="Nom">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" form="addFinitionForm" class="btn btn-primary" id="addFinitionButton">Ajouter</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('addBrandButton').addEventListener('click', function() {
            const brandName = document.getElementById('brandName').value;
        
            const option = document.createElement('option');
            option.text = brandName;
            option.value = brandName;
            document.getElementById('brandSelect').add(option);
        
            document.getElementById('addBrandModal').style.display = 'none';
        });
        
        document.getElementById('addModeleButton').addEventListener('click', function() {
            const modeleName = document.getElementById('modeleName').value;
        
            const option = document.createElement('option');
            option.text = modeleName;
            option.value = modeleName;
            document.getElementById('modeleSelect').add(option);
        
            document.getElementById('addModeleModal').style.display = 'none';
        });
        
        document.getElementById('addFinitionButton').addEventListener('click', function() {
            const finitionName = document.getElementById('finitionName').value;
        
            const option = document.createElement('option');
            option.text = finitionName;
            option.value = finitionName;
            document.getElementById('finitionSelect').add(option);
        
            document.getElementById('addFinitionModal').style.display = 'none';
        });
    </script>
}